/* css reset */
*{
    margin: 0px;
    padding: 0px;
}

#reset-heading-container{
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center; 
    text-align: center;
    align-items: center;
    height: 20vh;
    font-size: 2rem;
}


#reset-pass-container{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    height: 60vh;
    width: 100%;
    align-items: center;
}

#reset-form-layout-center::before{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#reset-form-layout-center{
    position: relative;
    /* border: 2px solid black; */
    height: 55vh;
    width: 55vh;
    text-align: center;
    box-shadow: 20px 20px 40px ;

}


#reset-form-elemnts{
    display: flex;
    flex-direction: column;
    /* border: 2px solid aqua; */
    height: 65%;
    justify-content: center;
    margin-top: 14%;
}

#reset-form-elemnts input{
    margin: 1% 4%;
    padding: 10px;
}

#reset-form-elemnts input[type='submit']{
    color:whitesmoke;
    font-size: 1.2rem;
    cursor: pointer;
    background-color:black;
    margin-top: 7%;  
    padding: 8px;
  
}

#reset-form-elemnts input[type='submit']:hover{
    color: grey;
 }